Package: com.ajaidan.nomorescrollstotop
Name: NoMoreScrollstoTop
Depends: mobilesubstrate, preferenceloader, com.spark.libsparkapplist
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ajaidan0
Author: ajaidan0
Section: Tweaks
Version: 1.0
Installed-Size: 360
